
body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: url("img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24272a;


}

nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    height: auto !important;

}

.navbar.navbar-collapse {
    text-align: center;
}

.container.nav {
    background: rgba(0, 0, 0, 0.4);
}

.container.us {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0);
}

.container.tabel {
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: 500px;
    width: 100%;
    background-color: #24272a;
}


.nav-link {
    color: #676666 !important;
}

.nav-link:hover {
    color: #efefef !important;
}

.nav-link.active {
    color: #efefef !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 992px) {
    .logopicture {
        width: 80px;
        height: 80px;
    }

    .container.us {
        margin-top: 100px;
        padding-top: 100px;

    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("img/menulogo.png");
}

.custom-toggler.navbar-toggler {
    border-color: #efefef;
}


h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #efefef;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #efefef;
}

h5 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #efefef;
}

button {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-right: 10px;
}

button:hover {
    background-color: transparent !important;
    color: red !important;
}

.direct-contact-container {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-decoration: none;
    padding-top: 12%;
}

.login {
    position: absolute;
    top: 50%;
    left: 42%;
}

.login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button] {
    width: 250px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;

}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

html, body {
    height: 100%;
}


.footer_push {
    height: 75px;
}


.footer {
    position: absolute;
    bottom: 0;
    height: 75px;
}

.modal-content {
    background: rgba(0, 0, 0, 0.9);
    color: #efefef;
    padding-left: 50px;
    padding-right: 50px;
}

