
body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: url("img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24272a;

}

nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    height: auto !important;

}

.navbar.navbar-collapse {
    text-align: center;
}

.container.nav {
    background: rgba(0, 0, 0, 0.4);
}

.container.us {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0);
}

.container.tabel {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.3);
}


.nav-link {
    color: #676666 !important;
}

.nav-link:hover {
    color: #efefef !important;
}

.nav-link.active {
    color: #efefef !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
@media (max-width:1200px){
    .logopicture {
        width: 80px;
        height: 80px;
    }

}
.custom-toggler .navbar-toggler-icon {
    background-image: url("img/menulogo.png");
}

.custom-toggler.navbar-toggler {
    border-color: #efefef;
}


h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #efefef;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #efefef;
}

h5 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #efefef;
}

button {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-right: 10px;
}

button:hover {
    background-color: transparent !important;
    color: red !important;
}

.direct-contact-container {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    padding-top: 12%;
}


